@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  background-color: #f0f2f5;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  width: 400px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out;
}

.container:hover {
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
  font-size: 24px;
  font-weight: 700;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  color: #555;
  font-weight: 500;
}

.input-icon {
  position: relative;
}

.input-icon .icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #888;
}

.form-control {
  width: 100%;
  padding: 12px 12px 12px 35px; /* Add padding-left to make room for the icon */
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
  transition: border-color 0.3s ease-in-out;
}

.form-control:focus {
  border-color: #a0a0a0;
  outline: none;
}

.btn {
  background-color: #1b6d84;
  color: #fff;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease-in-out;
}

.btn:hover {
  background-color: #c82333;
}

.google-btn {
  background-color:  #1b6d84;
  color: #efeaea;
  padding: 12px 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease-in-out;
}

.google-btn:hover {
  background-color: #eee;
}

.google-btn .icon {
  margin-right: 10px; /* Add space between the icon and the text */
}

.divider {
  border: none;
  border-top: 1px solid #ddd;
  margin: 20px 0;
}

.forgot {
  color: #dc3545;
  text-decoration: none;
}

.forgot:hover {
  text-decoration: underline;
}

.signup {
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
  color: #666;
}

.signup a {
  color:#055f;
  text-decoration: none;
  font-weight: 500;
}

.signup a:hover {
  text-decoration: underline;
}